.container__img{

    /* border: 1px solid blue; */
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;
    
    & > div{
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 1rem;
        overflow: hidden;
        border-radius: 30px 0  0 30px;
        border: 2px solid var(--blackPoke);
        & img{
            width:35px;
            object-fit: contain;
        }
        & > span{
            /* padding: 1rem; */
            display: inline-block;
        }
    }

    
}



@media screen and (max-width:991px) {
    .container__img{

        & > div{
            border-radius: 12px;
        }
    }
    
}
@media screen and (max-width:650px) {
.container__img{

        & > div{
            /* flex-direction: column; */
            display: grid;
            grid-template-columns: 1fr 1fr;
            border-radius: 12px;
            font-size: 16px;
            gap: .5rem;
            padding: .5rem;
            & img{
                
                width:100%;
                object-fit: contain;
            }
            & > .img--pokeball{
                display: none;
            }
            & > .img--pokemon{
                grid-column: 1/3;
                grid-row: 1/2;
                width: 100px;
                margin: 0 auto;
            }
            & > .img--number{
                font-size: 12px;
            }
            & > .img--name{
                grid-column: 1/3;
                grid-row: 2/3;
            }
        }
    }

}








.bg-fire {
  background-color: #F08030;
}

.bg-water {
  background-color: #6890F0;
}

.bg-grass {
  background-color: #7c5;
}

.bg-electric {
  background-color: #F8D030;
}

.bg-psychic {
  background-color: #F85888;
}

.bg-ice {
  background-color: #98D8D8;
}

.bg-dragon {
  background-color: #7038F8;
}

.bg-dark {
  background-color: #705848;
}

.bg-fairy {
  background-color: #EE99AC;
}

.bg-normal {
  background-color: #A8A878;
}

.bg-poison {
  background-color: #A040A0;
}

.bg-ground {
  background-color: #E0C068;
}

.bg-fighting {
  background-color: #C03028;
}

.bg-flying {
  background-color: #A890F0;
}

.bg-bug {
  background-color: #A8B820;
}

.bg-rock {
  background-color: #B8A038;
}

.bg-ghost {
  background-color: #705898;
}

.bg-steel {
  background-color: #B8B8D0;
}
