.layout__main{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    position: relative;
    display: grid;
    /* max-height: 77vh; */
    min-height:calc(100vh - 200px); 
    padding: 2% 5%;
    grid-template-columns: 1.2fr 1fr;
    /* align-items: center; */
    background-color: var(--red-primary);
    /* border: 1px solid white; */
    z-index: 0;
    align-items: center;

    & > .shape__ball{
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translateY(-50%);
        right: -30vw;
        width: 800px;
        height: 800px;
        display: block;
        border-radius: 999999999px;
        background-color: var(--green-pok);
        border: 15px solid var(--blackPoke);
    }


    & > .main__cards{
        /* background-color: #181B1D; */
        position: relative;
        display: grid;
        gap: 1rem;
        color: black;
        overflow-y: scroll;
        width: 100%;
        margin: 0 auto;
        margin-left: 11rem;
        border: 15px solid black;
        padding: 1rem ;
        border-radius: 70px;
        background-color: var(--gris-pok);
        height: 500px;
        z-index: 1;
        
    }

}






@media screen and (max-width:991px) {
    .layout__main{
        grid-template-columns: 1fr;

        & > .main__cards{
            grid-template-columns: 1fr 1fr;
            margin: 0;
            border-radius: 0 0 12px 12px;
            border: 1px solid black;
            border-top: 0;
    
        }
        & > .shape__ball{
        display: none;
        }
    }
}
@media screen and (max-width:650px) {
    .layout__main{
        min-height:calc(100vh - 203px);
        
    }
}